.pageHeader{

    background-image: url('../../public/assets/header/mainImg.webp');
    background-position: top right 100%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-attachment: fixed;
    color: #fff;
    min-height: 700px;
    filter: brightness(90%);

    @include tablet() {
        background-position: top right 180%;
    }

    @include desktop() {
        background-position: top right 10%;
    }

    .wrapper{
        text-align: center;
        margin: auto;
        padding-top: 200px;
        color: white;

        @include tablet() {
            flex-direction: column;
            display: flex;
            max-width: 700px;
            text-align: justify;
        }

        @include desktop() {
            padding-left: 12px;
            max-width: 1240px;
        }

        h1 {
            text-shadow: 
            -2px -2px 0 #000, 2px -2px 0 #000, 
            -2px 2px 0 #000, 2px 2px 0 #000;
        }

        h4 {
            max-width: 600px;
            text-shadow: 
            -2px -2px 0 #000, 2px -2px 0 #000, 
            -2px 2px 0 #000, 2px 2px 0 #000;
        }

        .logo-container {
            margin-top: 20px;
            display: inline-block;
            max-width: 330px;

            .logo {
                width: 330px;
            }
        }
    }
}