.contacto {
    padding: 48px 24px;
}

.contacto-contianer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet(){
        margin-bottom: 16px;
        flex-direction: row;
        justify-content: left;
    }

    .contact-element {
        padding: 10px;

        @include desktop(){
            display: flex;
            padding: 15px;
        }
    }

    .contacto-img{
        display: flex !important;
        box-shadow: rgb(15, 15, 15) 1px 0 10px;
        justify-content: center !important;
        border: 2px solid #000 !important;
        border-radius: 50%;
        margin: 0 auto;
        width: 80px;
        height: 80px;

        img {    
            object-fit: contain !important;
        }
    }

    .contacto-text{
        text-align: center;
        margin-top: 8px;

        @include desktop() {
            margin: auto;
            padding: 4px;
        }
    }

}

.Map {

    margin-left: calc(50% - var(--vw, 1vw) * 50);
    left: 0;
    width: calc(var(--vw, 1vw) * 100);

    @include desktop() {
        margin-left: 0;
        width: 100%
    }
    
    path {
        stroke: #D01F1F;
        fill: #F60805;
    }
}

