.multimedia {
    margin-top: 100px !important;
    padding-top: 20px;
    
    .tipsCard {
        width: 300px;
        margin: auto;
        margin-bottom: 16px;
        flex-direction: column;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        @include tablet() {
            width: 100%;
            flex-direction: row;
        }
        
        @include desktop() {
            width: 100%;
            flex-direction: row;
        }
    
        .card-body {
            padding: 8px 14px 14px 14px;
    
            @include desktop() {
                padding: 16px;
            }
        }
    
        .imgTip {
            margin: auto;

            @include tablet() {
                height: 184px;
            }
    
            @include desktop() {
                height: 200px;
            }
    
            img {
                padding: 5px !important;
                border-radius: 50%;
                box-shadow: 0 10px 50px rgb(205, 205, 205);

                @include tablet() {
                    max-width: 184px !important;
                }
                
                @include desktop() {
                    max-width: 200px !important;
                }
            }
        }
    
        .linksContainer {
    
            @include desktop() {
                position: absolute;
                bottom: 0;
                padding-bottom: 16px;
            }
    
            .button_slide {
                padding: 10px;
            }
    
            a {
                @include desktop() {
    
                    &:not(:last-child) {
                        button {
                            border-right: 0;
                        }
                    }
                }
            }
        }
        
    }
    
    .info-txt {
        
        padding: 30px 0 40px 0;
    
        p {
            text-align: left;
            font-weight: normal;
        }
    }
    
}


