
.tipsCard {
    width: 300px;
    margin: auto;
    margin-bottom: 16px;
    flex-direction: column;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
    @include desktop() {
        width: 100%;
        flex-direction: row;
    }

    .card-body {
        padding: 8px 14px 14px 14px;

        @include desktop() {
            padding: 16px;
        }
    }

    .imgTip {
        margin: auto;

        @include desktop() {
            height: 200px;
        }

        img {
            padding: 5px !important;
            border-radius: 50%;
            box-shadow: 0 10px 50px rgb(205, 205, 205);
            
            @include desktop() {
                max-width: 200px !important;
            }
        }
    }

    .linksContainer {

        @include desktop() {
            position: absolute;
            bottom: 0;
            padding-bottom: 16px;
        }

        .card-link {
            background: linear-gradient(90deg, rgba(44,80,99,1) 0%, rgba(1,1,1,1) 100%);
            color:white;
            padding:5px 5px;
            margin-bottom: 3px;
            margin-left: 0px;
            margin-right: 8px;
            border-radius:5px;
            text-decoration: none;
            display: inline-block;

            &:hover {
                background: linear-gradient(90deg, rgba(44,80,99,1) 0%, rgb(63, 62, 62) 100%);
            }
        }
    }
    
}

.info-txt {
    
    padding: 30px 0 40px 0;

    p {
        text-align: left;
        font-weight: normal;
    }
}

