
.tipsCard {
    width: 300px;
    margin: auto;
    margin-bottom: 16px;
    flex-direction: column;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
    @include desktop() {
        width: 100%;
        flex-direction: row;
    }


    .imgTip {
        margin: auto;

        img {
            max-width: 280px !important;
            
            @include desktop() {
                max-width: 350px !important;
                height: 250px !important;
            }
        }
    }

    .linksContainer {

        @include desktop() {
            position: absolute;
            bottom: 0;
            padding-bottom: 16px;
        }

        .card-link {
            background: linear-gradient(90deg, rgba(44,80,99,1) 0%, rgba(1,1,1,1) 100%);
            color:white;
            padding:5px 5px;
            margin-bottom: 3px;
            margin-left: 0px;
            margin-right: 8px;
            border-radius:5px;
            text-decoration: none;
            display: inline-block;
        }
    }
}

.info-txt {
    
    padding: 30px 0 40px 0;

    p {
        text-align: left;
        font-weight: normal;
    }
}

