.Normativa {
    
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 60px;

    .NormTable {
        background-color: white;
        border: 4px solid white;

        tr {
            border-color: rgb(204, 203, 203);
        }
    }

    .NormTh {
        color: white;
        background: linear-gradient(90deg, rgba(2,68,102,1) 0%, rgba(8,54,77,1) 100%);
    }
    
    .download{
        text-align: center;
    }

    .downloadButton{
        border: 1px solid rgba(8,54,77,1);
        color: rgba(8,54,77,1);
        transition: all 0.350s ease-out;

        &:hover {
            background: linear-gradient(90deg, rgba(2,68,102,1) 0%, rgba(8,54,77,1) 100%);
            color: white;
            transition: all 0.350s ease-out;
        }
    }
   
 
    .NormTr {
        &.description{
            font-size: 16px;
        }

        &.download{
            
            text-align: center;
            vertical-align: middle;
        }
    }
}
