.modalElement {

    &::-webkit-scrollbar {
        width: 8px;               /* width of the entire scrollbar */
      }
      
      &::-webkit-scrollbar-track {
        background: #f1f1f1;        /* color of the tracking area */
      }
      
      &::-webkit-scrollbar-thumb {
        background: #888;    /* color of the scroll thumb */
      }

    .form-label {
        margin-bottom: 4px;
    }

    .form-control, .form-select {
        padding: 1px 16px
    }

    .colorHeaderTh {
        background: linear-gradient(90deg, rgba(44,80,99,1) 0%, rgb(1, 1, 1) 100%);
        color: white,
    }

    .modal-header .btn-close {
        background-color: white;
        margin-right: 0;
        margin-bottom: auto;
        margin-top: 0px;
    }

    .modalDate {

        max-Width: 50%;
        height: 22.5px;
        font-size: 15px;
        
        .author {
            text-transform: capitalize;
        }
    }

    .fileLabel {
        cursor: pointer;
        text-decoration: underline;
        padding: 5px 0 8px 0;
        max-width: 60px;
    }
    
}

.modal-90w {
    max-width: 990px !important;

    &.modal-fullscreen {
        max-width: none !important;

   //TODO: TERMINAR DE DAR ESTILO, TIENE QUE APARECER UN SCROLL LATERAL     
        div[role=textbox] {
            margin: auto;
            min-height: 300px !important;
            height: 100% !important;
            max-height: 700px !important;
            overflow-y: auto !important;
        }

        .modal-body {
            display: grid;
            background-color: white;

            .modal-navigation {
                    padding: 0;
                    overflow: hidden;
                    background-color: #d1d1d1;
                  
                  li {
                    float: left;
                    list-style-type: none;
                  }
                  
                  li a {
                    cursor: pointer;
                    display: block;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                  }
                  
                  li a:hover {
                    background-color: #111;
                    color: white;
                  }
            };

            .main-img {
                display: flex;
                justify-content: center;

                img {
                    width: 50%;
                }
            }
        }

        .modal-footer {
            background-color: white;
            border-radius: 10px 0 0 10px !important;
            border: 0;
            width: fit-content;
            padding: 0;
            position: sticky;
            bottom: 0;
            margin-left: auto;
            margin-right: 16px;
            margin-top: -55px;
        }
    }
}

.fade.modalElement.fullscreen.modal.show {
    padding: 0 !important;
}

.modal-fullscreen .modal-content {
    height: auto;
}

.fade.modalElement.fullscreen.modal.show {
    background: white;
}

.modal-open .container-fluid,
.modal-open .container {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}