
.etapsNav {

    .TabEtap{
        background-color: #EDEDED;
    }

    .nav.nav-tabs.nav-fill {
        margin: auto;
        max-width: 200px;
    
        @include desktop(){
            max-width: 100%;
        }
    }
    
    .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
        color: black; 
    }
}




