
.etapsNav {

    .TabEtap{
        background-color: #EDEDED;
    }

    .nav.nav-tabs.nav-fill {
        margin: auto;
        max-width: 95%;
        display: block;
       
    
        @include desktop(){
            max-width: 100%;
            display: flex;
        }
    }
    
    .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
        padding: 6px;
        color: black; 
        border-bottom:  1px solid #F9F9F9;
    }

    .title {
        font-size: 22px;
        margin: 0;
        padding: 10px; 
    }

    .divider {
        margin: 0;
    }

    .description {
        font-size: 18px;
        padding: 20px 10px;

        @include desktop(){
            font-size: 20px;
        }
    }

    .card-title {
        color: white;
        background: linear-gradient(90deg, rgba(2,68,102,1) 0%, rgba(8,54,77,1) 100%);
        border-radius: 5px;
        padding: 5px;
    }

    .cardFooter {

        @include desktop(){
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    .buttonDownload {
        margin-left: 2px;
        margin-top: 16px;

        @include desktop(){
            margin-left: 0px;
            margin-top: 7px;
        }
    }

    .card-text{
        padding: 0 5px;
    }
}

.etapsInfo {

    margin-bottom: 40px;

    .card {
        margin-bottom: 10px;    
    }
}


.initialImgContainer {
    margin-left: calc(50% - var(--vw, 1vw) * 50);
    height: 100%;
    left: 0;
    width: calc(var(--vw, 1vw) * 99.5);
}

