
.etapsNav {

    padding-top: 20px;

    .TabEtap{
        background: linear-gradient(90deg, rgba(44,80,99,1) 0%, rgb(1, 1, 1) 100%);
        border-radius: 25px;
        padding: 5px 3px;
    }

    .nav.nav-tabs.nav-fill {
        margin: auto;
        max-width: 100%;
        display: block;
       
    
        @include desktop(){
            display: flex;
        }
    }
    
    .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
        color: white;
        border-radius: 20px;
        font-size: 15px;
        padding: 6px;
        
        &:hover {
            background-color: white;
            border-radius: 20px;

            color: black;
        }

        &.active {
            border-radius: 20px;
            color: black;
        }
    }

    .title {
        font-size: 23px;
        padding: 20px 10px;
    }

    .divider {
        margin: 0;
    }

    .description {
        font-size: 18px;
        padding: 20px 10px;

        @include desktop(){
            font-size: 20px;
        }
    }

    .card-title {
        color: white;
        background: linear-gradient(90deg, rgba(2,68,102,1) 0%, rgba(8,54,77,1) 100%);
        border-radius: 5px;
        padding: 5px;
    }

    .cardFooter {

        @include desktop(){
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    .buttonDownload {
        margin-left: 2px;
        margin-top: 16px;

        @include desktop(){
            margin-left: 0px;
            margin-top: 7px;
        }
    }

    .card-text{
        padding: 0 5px;
    }
}

.etapsInfo {

    margin-bottom: 40px;

    .card {
        margin-bottom: 10px;    
    }
}

.initialImgContainer {
    margin-left: calc(50% - var(--vw, 1vw) * 50);
    height: 100%;
    left: 0;
    width: calc(var(--vw, 1vw) * 100);
}

.textContainer {
    padding: 20px
}
