
.navbar { 

    margin: 0;
    padding: 2px 0;
        
    .container {
        max-width: 1240px;
  }

  .navbar-brand {

    padding: 2px 0;
    margin: auto;
    margin-right: (calc(50% - 97px));

    a {
      display: flex;
    }

    @include tablet(){
        margin-right: (calc(50% - 107px));
        padding: 8px;
      }

    @include desktop(){
      margin: auto;
    }
  }

  @include desktop(){
  .nav-link {

        text-decoration: none;
    
        background:
            linear-gradient(
                to right,
                #212529,
                #212529
            ),
            linear-gradient(
                to right,
                #FFFFFF,
                #DADADA,
                #FFFFFF,
            );
    
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
      }
    
      .nav-link:hover {
        background-size: 0 3px, 100% 3px;
      }

    }
}  

  