

.articleContainer {
    max-width: 1200px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;

    @include desktop() {
        margin-top: 70px;
    }

    .textContainer {
        padding-top: 0;
        max-width: 930px;
        word-wrap: break-word;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        margin-left: calc(50% - var(--vw, 1vw) * 50);
        left: 0;
        width: calc(var(--vw, 1vw) * 100);
        padding: 35px 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-image: linear-gradient(rgb(218, 218, 218) 99%, rgb(205, 205, 205));

        h2 {
            text-decoration: underline;
            font-size: 30px;
            font-weight: bolder;
            margin-bottom: 0;
            text-align: center;

            @include desktop(){
                font-size: 42px;  
            }
        }
    }

    .body {
        padding-top: 30px;
    }

    .link {
        color: #2c5b8b;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}