.main-page {
    width: 100%;

    .font-page-containner {
        display: flex;
        margin: auto;
        max-width: 1240px;
    }
}
  
.left-font-page {
    float: left;
    padding: 0;
    width: 100%;

    @include desktop() {
        width: 77%;
    }
}
  
.right-aside {

    display: none;
    padding-right: 12px;

    @include desktop() {
        border: none;
        display: block;
        margin-top: 0;
        float: right;
        width: 23%;
    
        .blog {
            margin-top: 0;
    
            .articleList {
                padding-bottom: 0;
                padding-top: 50px;
                padding-right: 10px;

                header {
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
                }
    
                h1 {
                    text-align: left;
                    font-size: 24px;
                }

                header {
                    h1 {
                        display: flex;

                        &::before {
                            content: '►';
                            display: block;
                            margin-right: 5px;
                        }
                    }
                }
    
                .band {
                    margin-bottom: 10px;
                    margin-left: 0;
                    display: block;
                    border-left: 1px solid #adb5bd;
                    width: 100%;

                    .card {
                        margin-bottom: 20px;
                        margin-left: 20px;

                        &:before {
                            background-color: #b3b3b3;
                            border-radius: 50%;
                            content: '';
                            display: inline-block;
                            margin-right: 8px;
                            margin-left: -26px;
                            height: 10px;
                            width: 10px;
                            position: absolute;
                            top: -1px;
                        }

                        article {
                            padding: 12px;
                        }

                        h1 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
  