.main-footer {
        padding: 200px 0;

    .footerImg {
        filter: opacity(0.3) drop-shadow(0 0 0 white); 
      }

}

.subfooter {
    padding-bottom: 16px;
    color: rgba(255, 255, 255, 0.603);
    font-size: 12px;
}