
.containerFooter {
    position: absolute;
    width: 100%;
    margin-top: 90px;

    @include tablet() {
        //TODO: HAY ALGUNAS TABLETS QUE NO QUEDA BIEN EL MARGEN
        //VER POSIBILIDADES
        margin-top: 130px;
    }

    @include desktop() {
        margin-top: 100px;
    }
}

.main-footer {
        padding: 200px 0;

    .footerImg {
        filter: opacity(0.3) drop-shadow(0 0 0 white); 
      }
}

.subfooter {

    a {
        color: rgba(255, 255, 255, 0.603);
        font-size: 14px;
        text-decoration: none;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

        &:hover {
            border-radius: 5px;
            box-shadow: 0 0 15px #1a1a1a;
            padding: 2px 3px;
            background-color: #1a1a1a;;
        }

        strong {
            color: white;
        }
    }

    background-color: rgba(0, 0, 0, 0.596);
    padding-bottom: 16px;
    
}