// @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import 'mixins';
@import '/components/MainCarousel/styles.scss';
@import '/components/Categorias/styles.scss';
@import '/components/Blog/styles.scss';
@import '/components/Normativa/styles.scss';
@import '/components/Multimedia/styles.scss';
@import '/components/Contacto/styles.scss';
@import '/components/Info/styles.scss';
@import '/components/ModeloSeguridad/styles.scss';
@import '/components/MainNavbar/styles.scss';
@import '/components/MainFooter/styles.scss';
@import '/components/Admin/styles.scss';
@import '/components/Admin/CategoryTable/styles.scss';
@import '/components/Admin/ModalElement/styles.scss';
@import '/components/Admin/MainProfile/styles.scss';
@import '/components/Slate/styles.scss';
@import '/components/SocialLinks/styles.scss';
@import '../pages/auth/styles.scss';
@import '../pages/blog/styles.scss';
@import '../pages/styles.scss';


body {
  background-color: rgb(234, 234, 234);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

  h1, h6 {
    font-weight: bold;
  }

  .h5, .h4{
    font-weight: bold;
  }

 p {
  font-weight: normal;
 }

 .container {
  max-width: 1240px;
 }

 .btn {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

  &:focus {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    }
  }

  .heading-1 {
		font-size: 30px;
		letter-spacing: 0.08em;
		font-weight: 600;
		text-shadow: 0 1px 1px #FFFFFF;

    @include desktop(){
      font-size: 36px;
    }
  }

  .divider-1 {
		border-bottom: 1px solid #adb5bd;
		height: 1px;
		margin: 0.5em 0px 1.5em;
  }

  .divider-1 span {
		display: block;
		background-color: rgba(8,54,77);
    margin-top: -1px;
		width: 180px;
		height: 3px;
    position: absolute;
  }
}
