@import 'mixins';
@import '/components/MainCarousel/styles.scss';
@import '/components/Categorias/styles.scss';
@import '/components/Normativa/styles.scss';
@import '/components/Multimedia/styles.scss';
@import '/components/Contacto/styles.scss';
@import '/components/MainNavbar/styles.scss';
@import '/components/Admin/styles.scss';
@import '/components/Admin/CategoryTable/styles.scss';
@import '/components/Admin/ModalElement/styles.scss';
@import '/components/Admin/MainProfile/styles.scss';
@import '../pages/auth/styles.scss';

body {
  font-family: 'Poppins', sans-serif;
}

.footerImg {
  filter: opacity(0.3) drop-shadow(0 0 0 white); 
}

.normContainer{
  margin-top: 100px !important;
}
