.carousel {
  margin-top: -48px;
}

.navbar > .container {
    max-width: 100%;
    margin: 0;
    padding: 10;
  }

  .navbar {
    margin: 0;
    padding: 10;
  }
  
  .navbarImg {
    margin-left: 5px
  }

.contacSvg svg{
  margin: 20;
}

.card-link {
  display: block;
  float: left;
  margin-left: 0 !important;
  padding: 5px;
  text-decoration: none;
}