
.navbar > .container {
    max-width: 100%;
    margin: 0;
  }

.navbar {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
  
.navbarImg {
  margin-left: 5px
}

.mainCarousel {

  margin-top: 66px !important;
}

.card-link {
  display: block;
  float: left;
  margin-left: 0 !important;
  padding: 5px;
  text-decoration: none;
}