@import 'mixins';
@import '/components/Categorias/styles.scss';
@import '/components/Normativa/styles.scss';
@import '/components/MainNavbar/styles.scss';
@import '/components/Admin/styles.scss';


.footerImg {
  filter: opacity(0.3) drop-shadow(0 0 0 white); 
}

.mainCarousel {
  margin-top: 66px !important;
}

.card-link {
  display: block;
  float: left;
  margin-left: 0 !important;
  /* padding: 5px; */
  padding-right: 5px;
  font-size: 14.5px;
  /* text-decoration: none; */
}

.normContainer{
  margin-top: 100px !important;
}
