.mainCarousel{

    margin-top: 81px !important;
    filter: brightness(0.7);
    // background: radial-gradient(circle, rgba(60,88,102,1) 0%, rgba(0,0,0,1) 100%);

    span {
        display: none
    }

    @include desktop(){
        margin-top: 91px !important;
        
        span {
            display: flex
        }
    }
}